@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    background-color:black;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
#header {
    text-transform: uppercase;
    background-color: black;
    padding: 20px;
    text-align: center;
    letter-spacing: 20px;
}
#header h1:hover {
    letter-spacing: 30px;
    transition: 1s;

}
#header .back {
    letter-spacing: 5px;
    text-decoration: none;
    float: left;
    margin-top: 0px;
}
#header .back:hover {
    color: white;
}
#header .next {
    letter-spacing: 5px;
    text-decoration: none;
    float: right;
    margin-top: 0px;
}
#header .next:hover {
    color: white;
}
.title {
    color:  rgb(35, 181, 45);
}
.titleEnergy {
    color:  rgb(35, 181, 45);
    font-size: 1.9em;
    letter-spacing: 2px;
    text-align: center;
}
div#content {
    width: 450px;
    height: 300px;
    padding: 100px;
    margin-top: 100px;
    margin-left: 3%;
    float: left;
    color: white;
    /* border: 1px solid black; */
}

div#image {
    margin-top: 60px;
    float: left; 
    padding: 50px;
    margin-left: 10%;
}
div#image img {
    width: 250px;
    filter: drop-shadow(0px 5px 5px rgb(35, 181, 45));
    transition: 1s;
}
div#image img:hover {
    width: 250px;
    filter: drop-shadow(0px 25px 25px rgb(35, 181, 45));
}

button {
    background: linear-gradient( rgb(35, 181, 45),  rgb(4, 81, 9));
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.3em;
    width: 100%;
    height: 50px;
    display: block;
    margin-top: 10%;
    transition: 1s;
}
button:hover {
    letter-spacing: 15px;
}
p {
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 1px;
}
a {
    float: left;
    display: block;
    color:  rgb(35, 181, 45);
}


